@using ShopWebApp
@using ShopWebApp.Core.Entities
@{
    Layout = "_Layout";
}
<br />
<h2 style="text-align:center" class="display-4">Your account</h2>
<br />
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.User.Name</td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>@Model.User.Surname</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>@Model.User.Email</td>
        </tr>
        <tr>
            <th scope="row">Mobile Number</th>
            <td>@Model.User.Phone</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>@Model.User.Address</td>
        </tr>
    </tbody>
</table>
<a href="@Url.Action("edit", "account")" class="btn btn-outline-primary btn-lg btn-block">Change your account details</a>
@if (ViewBag.orders.Count > 0)
{
    <script>
        function goToOrder(code) {
            window.location.href = '/order/' + code;
        }
    </script>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order code</th>
                <th scope="col">Status</th>
                <th scope="col">Sum</th>
                <th scope="col">
                    Number of products
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in ViewBag.orders)
            {
                int productsCount = 0;
                foreach (ProductOrder po in order.ProductOrders)
                {
                    productsCount += po.Count;
                    <tr class="pointer" onclick="goToOrder(@order.Code)">
                        <th>@order.Code</th>
                        <td>@order.Status</td>
                        <td>
                            @((order.Amount / 100).ToString("C")) - @if (order.Paid)
                            {
                                @:Paid
                            }
                            else
                            {
                                @:UnPaid
                            }
                        </td>
                        <td>@productsCount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
